**<h1 style=text-align:center>Practical-7</h1>**

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

**1)to create a dataframe from a dictionary and display it**

In [ ]:
d = {
    'Name':["Nayan","Arya","Vansh","Harshal"],
    'Age' : [18,18,18,18],
    'Enrollment' : [36,64,37,46]
}

print(pd.DataFrame(d,columns = ['Name','Age','Enrollment']))

**2)to sort the DataFrame first by 'name' in ascending order**

In [ ]:
print(pd.DataFrame(d,columns = ['Name','Age','Enrollment']).sort_values(by = ['Name']))

**3)to delete the one specific column from the DataFrame**

In [ ]:
d = {
    'Name':["Nayan","Arya","Vansh","Harshal"],
    'Age' : [18,18,18,18],
    'Enrollment' : [36,64,37,46]
}

df =pd.DataFrame(d)

df.drop(['Age'], axis=1)

**4)to write a DataFrame to CSV file using tab separator**

In [ ]:
d = {
    'Name':["Nayan","Arya","Vansh","Harshal"],
    'Age' : [18,18,18,18],
    'Enrollment' : [36,64,37,46]
}

data_frame = pd.DataFrame(d, columns = ['Name', 'Age', 'Enrollment'])

data_frame.to_csv('Details1.csv', sep = '\t') # Saving as a CSV file
 
new_data_frame = pd.read_csv('Details1.csv') # loading the CSV file
 
print('\nData from Students.csv : \n', new_data_frame)